/* Import fonts */
  @import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* Common styles*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Main Content */
main{
    min-height: 100vh;
    padding-top: 5rem;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    font-family: "Pirata One", sans-serif;
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    display:flex;
    flex-direction: column;
    background-color: #3C382C;
}

h1 {
    font-size: 2.5rem;
}

body img {
    width: 20vw;
    padding: .5rem;
}

.buttons {
    font-family: "Pirata One", sans-serif;
    font-size: 3rem;
    background-color: #B0ADA2;
    border-color: whitesmoke;
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    transition:0s 0.15s;
}

.buttons:hover, .buttons:active {
    background-color: #3C382C;
    color: #B0ADA2;
    transition:0s;
}

#rules {
    display: none;
    position:absolute;  
    top: 7rem;
    padding: 0 2.5rem;
    z-index: 3;
    text-align: left;
    font-size: 1.5rem;
    background-color: #797567;
    text-shadow: 1px 1px #3C382C;
}  

#results-wrapper{
    display:none;
    position: absolute;
    top: 45%;
    align-content: center;
    border-radius: 1rem;
    width: 50vw;
    left: 25%;
    text-shadow: 2px 1px #3C382C;  
    background-color: #B0ADA2;
}

/* End of Main Content */

/* Header */
.header {
    font-size: 5rem;
    color: #3C382C;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #B0ADA2;
}

#btn-rules{
    color: #3C382C;
    font-size: 3rem;
    position: fixed;
    top: 1.8rem;
    right: 1.5rem;    
}
/* End Of Header */

/* footer */
.footer {
    display: flex;
    bottom:0;
    width: 100%;
    height: 4.5rem;
    background-color: #B0ADA2;   
}

.social-networks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 3rem;
}

.social-networks-link {
    color: #3C382C;
    text-decoration: none;
}
/* end of footer */

/* Media query: screens above 720px*/
@media screen and (min-width: 720px) {
    h1 {
        font-size: 3.5rem;
    }   

    div, p {
        font-size: 3rem;
    }
    
    body img {
        width: 15vh;
        padding: .5rem;}      
    
    #rules p, ul, ol, li{
            font-size: 2rem;
    }
    
    .buttons:hover {
        background-color: #3C382C;
        color: #B0ADA2;
    }

    .social-networks-link{
        font-size: 3.5rem;
    }

    .social-networks-link:hover, #btn-rules:hover{
        color: whitesmoke;
    }
} 